:root {
  --background: #4285f4;
  --primary-color: #000;
}

body {
  background: radial-gradient(#4285f4, #06214c);
  /* overflow: hidden; */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  height: 100vh;
  width: 100vw;
  animation: lift 0.8s ease-in-out;
  animation-delay: 2.8s;
  animation-fill-mode: forwards;
}

.title {
  font-size: 81px;
  color: #fff;
  text-align: center;
  font-weight: 800;
  font-family: "Lexend Deca", sans-serif;
  animation: wave 0.8s, jump 1s;
  position: relative;
  top: 0;
  padding: 4px;
  opacity: 0;
  z-index: 3;
  animation-fill-mode: forwards;
}

span:nth-of-type(1) {
  animation: wave 0.4s, jump 2.2s ease-in-out alternate 0.1s;
}

span:nth-of-type(2) {
  animation: wave 0.4s, jump 2.2s ease-in-out alternate 0.15s;
}

span:nth-of-type(3) {
  animation: wave 0.4s, jump 2.2s ease-in-out alternate 0.2s;
}

span:nth-of-type(4) {
  animation: wave 0.4s, jump 2.2s ease-in-out alternate 0.25s;
}

span:nth-of-type(5) {
  animation: wave 0.4s, jump 2.2s ease-in-out alternate 0.3s;
}

span:nth-of-type(6) {
  animation: wave 0.4s, jump 2.2s ease-in-out alternate 0.35s;
}

span:nth-of-type(7) {
  /* left: 4.8rem; */
  animation: wave 0.4s, jump 2.2s ease-in-out alternate 0.4s;
}

/* 
span:nth-of-type(8) {
  //left: 5.6rem;
  animation: wave 0.4s, jump 1.1s ease-in-out alternate 0.4s;
}

span:nth-of-type(9) {
  //left: 6.4rem;
  animation: wave 0.4s, jump 1.1s ease-in-out alternate 0.45s;
} */
@keyframes wave {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  90% {
    transform: translate3d(0, -30%, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -90%, 0);
    opacity: 1;
  }
}

@keyframes lift {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    visibility: hidden;
  }
}
@keyframes appea {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.congrats{
  color:#cfedff;
  margin-top: -20px;
  text-shadow: 0px 0px 4px #122447;
  font-family: cursive;
}
.newR{
  color: rgb(255 255 255);
  font-size: 25px;
  font-family: monospace;
  margin-top: 10px;
}

.statBtn button{
  width:40%!important;
}
.statBtn{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}
#successMsg{
  margin-top: -30000px;
  transition: 0.5s;
  position: absolut;
  margin-bottom: 100px;
}















/* Splash Screen */
.hide{
  display: none!important;
}
.splash-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-size: 100%;
  position: absolute;
  animation: fadeIn 2s ease-out;
}

#title {
  font-size: 18px;
  color: #b0d6ff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.363);
  margin-top: 230px;
  font-weight: 400;
  font-family: "Lexend Deca", sans-serif;
  text-align: center;
  animation: titleAnimation 2s ease-out;
}
@keyframes titleAnimation {
  0% {
      transform: scale(0.5);
      opacity: 0;
  }
  50% {
      transform: scale(1.1);
      opacity: 1;
  }
  100% {
      transform: scale(1);
  }
}



.img{
  margin-top: -320px;
  margin-bottom: -50px;
  width: 400px;
  animation: imgAnimation 2s ease-out;
  position: absolute;
}
@media(max-width:500px){
  .title {
    font-size: 40px;
  }
  .img{
      width: 250px!important;
  }
}




@keyframes imgAnimation {
  0% {
      transform: scale(0.5);
      opacity: 0;
  }
  50% {
      transform: scale(1.6);
      opacity: 1;
  }
  100% {
      transform: scale(1);
  }
}



#start-button {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1.5em;
  color: #fff;
  background-color: #ff6f61;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#start-button:hover {
  background-color: #ff4b3a;
  transform: scale(1.05);
}

#start-button:active {
  transform: scale(0.95);
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}











/* LEADER BOARD */

.leadBoard{
  display: flex;
  place-items: center;
  background: #213962;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  z-index: 2;
}

.userImg{
  border-radius: 5px;
  width:50px;
  height:50px;
  border:2px solid #2f4d80;
  margin-right:10px;
}
.leadText{
  color: #cfedff;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  margin-bottom: 3px;
}
.won{
  font-size:.65rem; 
  color:#8ea5c2; 
}

.desc{
  place-items: center;
  background: #213962;
  border-radius: 5px;
  padding: 7px;
  display: flex;
  justify-content: space-around;
  margin:30px 0px 6px 50px;
  position: relative;
  z-index: 2;
}
.desc span{
  color:#98c0d8;
  font-size: .75rem;
}
.block{
  border-top: 3px solid #213a62;
  border-left: 3px solid #213a62;
  height: 0px;
  position: absolute;
  margin-top: 42px;
  margin-left: 30px;
  border-radius: 10px;
  transition:0.6s;
  animation: bb 0.6s;
}
.display-none{
  display: none!important;
}
.hideB{
  height: 0px;
  animation: ss 1s;
}
@keyframes ss {
  from{height: 60px;width: 0px;};
  to{height:0px; width: 0px;};
}
.showB{
  height: 60px;
  width: 30px;
  animation: hh 1s;
}
@keyframes hh {
  from{height: 0;width: 0px;};
  to{height:60;width: 30px;};
}

.bLinks a{
  color:#b8d4ff;
  transition: 0.3s;
  text-decoration: none;
}
.bLinks a:hover{
  color:#7fa5de;
  transition: 0.3s;
}
.bLinks{
  display: flex;
  justify-content: space-around;
  margin-top:10px;
}
.trophy{
  width: 52px;
  margin-left: 220px;
  margin-top: -10px;
  position: absolute;
}
.statsDrop{
  overflow: hidden;
  display: none;
}

.hideLead{
  height: 0px;
  animation: hide 0.5s;
}
@keyframes hide {
  from{height: 140px;};
  to{height:0px;};
}
.showLead{
  height: 140px;
  animation: show 0.5s;
}
@keyframes show {
  from{height: 0;};
  to{height:140;};
}


#dropBtn, .controlBtn {
  margin-top: 20px;
  padding: 10px 15px;
  color: #fff;
  background-color: #ff6f61;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.9em;
  width: 100%;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#dropBtn:hover, .controlBtn:hover {
  background-color: #ff4b3a;
  transform: scale(1.05);
}









/* NAV BAR */
#gameNav section{
  align-items: center;
  display: flex;
  margin-left:10px
}
#gameNav h3{
  color:#c0d6f8;
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.363);
}
#gameNav span{
  margin-right: 10px;
}
#gameNav{
  width:100%;
  position: fixed;
  top:0;
  display: flex;
  padding:10px;
  background: #00000054;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  box-shadow: 0px 3px 5px #04204e;
  transition: 0.8s;
}


.tokenAni{
animation: tokenAni 2s ease-out;
}

@keyframes tokenAni {
0% {
    transform: scale(0.5);
}
50% {
    transform: scale(1.5);
}
100% {
    transform: scale(1);
}
}

